
English/*
ICT/Informatika_2020_Chernovik.pdf
*.docx
*.odt
*.doc
ICT/other/*
opd/test/*
opb/bcomp/*
Prog/lab2/*
Prog/prac1/*
Prog/test/*
Дискретка/tex/*
Дискретка/Материалы/*
Дискретка/docs/*
Maths/*
opd/bcomp/
Prog/Lab3/src/test/java/Test.java
Prog
pl/vm
/web/web3
